body {font-family: 'Fredoka', sans-serif;}

span {
  color: rgb(255, 85, 8);
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

ol {
    font-family: 'Rubik', sans-serif;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: small;
}
button {
    background-color: rgb(19, 92, 96);
    color: white;
    border: none;
    height: 70px;
    width: 250px;
    font-family: "Rubik", sans-serif;
    font-size: larger;
    border-radius: 10px;
    font-weight: 700;
}

a {
    color: orange;
}
