@font-face {
    font-family: 'Gravitica';
    src: url('fonts/ckhans-fonts-gravitica-light-demo.otf') format('opentype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'AsapCondensed';
    src: url('fonts/AsapCondensed-Regular.ttf') format('truetype');
    font-weight: 300; /*light*/
    font-style: normal;
}

/* font and background */
body {
    font-family: 'Fredoka', sans-serif;
    background: linear-gradient(to right, #ffffff, #ffffff);
    color: rgb(0, 0, 0);
}

h1, h2 {
    font-family: 'Fredoka', sans-serif;
}

:root {
  --header-height: 3.5rem;

  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  --body-font: arial, sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.9rem;

  --font-regular: 400;
  --font-medium: 500;

  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--black-color);
  font-weight: var(--font-medium);
  font-size: x-large;
}

.nav__close, 
.nav__toggle {
  display: flex;
  color: var(--black-color);
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--white-color);
    width: 100%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left .4s;
  }

  .nav__item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform .4s ease-out, visibility .4s;
  }

  .nav__item:nth-child(1) {
    transition-delay: .1s;
  }
  .nav__item:nth-child(2) {
    transition-delay: .2s;
  }
  .nav__item:nth-child(3) {
    transition-delay: .3s;
  }
  .nav__item:nth-child(4) {
    transition-delay: .4s;
  }
  .nav__item:nth-child(5) {
    transition-delay: .5s;
  }
}

.nav__list {
  display: flex;
}

.nav__list {
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  position: relative;
  color: var(--black-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  transition: opacity .4s;
}

.nav__link i {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}

.nav__link span {
  position: relative;
  transition: margin .4s;
}

.nav__link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--black-color);
  transition: width .4s ease-out;
}
.nav__link:hover span {
  margin-left: 2.5rem;
}

.nav__link:hover i {
  opacity: 1;
  visibility: visible;
}

.nav__link:hover span::after {
  width: 100%;
}
.nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
  opacity: .4;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  left: 0;
}
.show-menu .nav__item {
  visibility: visible;
  transform: translateX(0);
}

@media screen and (min-width: 1024px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle, 
  .nav__close {
    display: none;
  }

  .nav__link {
    font-size: var(--normal-font-size);
  }

  .nav__link i {
    font-size: 1.5rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
  }
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

#question-box {
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding: 30px;
    max-width: 1000px;
    width: 700px;
    text-align: left;
    margin-top: 140px;
}

#question-title {
    font-family: 'Fredoka', sans-serif;
    font-size: 3rem;
    margin-bottom: 15px;
}

#question-text {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    margin-bottom: 20px;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}

#question-form label {
    display: block;
    margin: 10px 0;
    font-size: 1rem;
}

.options-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 650px;
    height: auto;
    margin-bottom: 20px;
}

.options-box .option {
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.options-box .option input {
    margin-right: 10px;

}

.progress-bar-container {
    margin-top: 20px;
    text-align: center;
}

#progress-text {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    position: relative;
    margin-top: 10px;
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color: #00a86b;
    border-radius: 10px;
    transition: width 0.3s ease;
}

#progress-bar.complete {
    background-color: green;
}

.button-container {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    margin-bottom: 20px; 
}

.triangle-btn {
    width: 0;
    height: 0;
    border-style: solid;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 58%; 
    transform: translateY(-50%); 
}

.triangle-btn.left {
    border-width: 25px 40px 25px 0; 
    border-color: transparent #00a86b transparent transparent;
    left: -40px; 
}

.triangle-btn.left:hover {
    border-color: transparent #007e50 transparent transparent; 
}

.triangle-btn.right {
    border-width: 25px 0 25px 40px; 
    border-color: transparent transparent transparent #00a86b;
    right: -30px; 
}

.triangle-btn.right:hover {
    border-color: transparent transparent transparent #007e50; /* Darker color on hover */
}

.submit-btn {
    padding: 10px 20px;
    font-size: 16px; 
    font-family: 'Rubik', sans-serif;
    background-color: #135C60; 
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: auto; 
    margin-left: auto;
}

.submit-btn:hover {
    background-color: #007e50; 
}

.submit-btn:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
}


#question-box {
    position: relative;
    padding: 35px;
}

.dec1 img { 
    position: absolute;
    width: 211px;
    height: 190px;
    left: 4px;
    top: 500px;
}
